<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Invoice List</h2>
  </div>

 
      <button (click)="createInvoice1()" class="btn btn-info" style="margin-left: 10px">Create Invoice</button>
 
  
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Invoice ID</th>
          <th>Date Created</th>
          <th>Due Date</th>
          <th>User ID</th>
          <th> Company</th>
          <th>Invoice Type</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices| async">
          <td>{{invoice.id}}</td>
          <td>{{invoice.dateCreated}}</td>
          <td>{{invoice.dueDate}}</td>
          <td>{{invoice.userID}}</td>
          <td>{{invoice.company}}</td>
          <td>{{invoice.type}}</td>


          <td>
            <button (click)="updateInvoice(invoice.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            <button (click)="invoicesDetails(invoice.id)" class="btn btn-info"
              style="margin-left: 10px">Details</button>
            <button (click)="deleteInvoice(invoice.id)" class="btn btn-danger">Delete</button>
            <button (click)="createItem(invoice.id)" class="btn btn-primary">create item</button>

          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>