form {
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.form-group {
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.title {
    font-size: 30px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border-bottom: 1px solid black; */
}

.card-header {
    color: #dc656e;
    font-weight: 600;

}

.card-title {
    color: #dc656e;
    font-weight: 600;
    border-top: 2px dotted rgba(146, 141, 141, 0.356);
}

.body {
    display: grid;
    grid-template-columns: auto auto;
}

.btn {
    background-color: #dc656e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3vw;
    color: white;
    margin: 10px;
}