
form {
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.title, a {
    color: black;
}

.title {
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.tag {
    color: black;
}

.btn {
    background-color: #dc656e;
    border: none;
}

.grey {
    background-color: #949292;
}

.card-header {
    color: #dc656e;
    font-weight: 600;
}

.card-title {
    color: #dc656e;
    font-weight: 600;

}