.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;

  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 700;
  }
  .input{
    background-color: rgba(202, 191, 191, 0.842);
    width: 20%;
    padding: 1%;    
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3vw;

  }
  
  table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;

}


.mat-header-cell {
  text-align: left;
  max-width: 300px;
  font-weight: 700;
  color: #dc656e;
}
.btn{
  margin-left: 20px;
}
