<div class="heading">
  <h2>Welcome Auditor {{user.username}}</h2>
</div>


<div class="container">
  <div class="form-group mb-4">
    <mat-form-field>
      <label>Filter:</label>
      <input matInput (keyup)="doFilter($event.target.value)" class="input" id="exampleFormControlInput1"
        class="form-control form-control-underlined">
    </mat-form-field>
  </div>


  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice ID</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.dateCreated}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mycolor2"> {{row.dueDate }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userID">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User ID</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.userID }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.company }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Type</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mycolor"> {{row.type }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
  </div>
</div>