<div class="heading">
  <h2>Welcome Auditor {{user.username}}</h2>
</div>


<div class="container">
  <div class="form-group mb-4">
    <mat-form-field>
      <label>Filter:</label>
      <input matInput (keyup)="doFilter($event.target.value)" class="input" id="exampleFormControlInput1"
        class="form-control form-control-underlined">
    </mat-form-field>
  </div>


  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="invoiceDatasource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice ID</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date_created">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.date_created}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="due_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mycolor2"> {{row.due_date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User ID</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.userid }} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.company }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Type</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mycolor"> {{row.type }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="redirectToDetails(row.id)">
            <img class="img-responsive" src="assets/images/details.png">
          </button>
        </td>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
  </div>
</div>