.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.container {
  margin: 10vh;
  background-color: rgba(255, 255, 255, 0.39);
  margin-left: 0px;
}

.input {
  background-color: rgba(202, 191, 191, 0.842);
  width: 20%;
  padding: 1%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3vw;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

.mat-header-cell {
  text-align: left;
  max-width: 300px;
  font-weight: 700;
  color: #dc656e;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 2px;
  border-radius: 0;
  padding-left: 0;
}

.form-control {
  font-size: 0.95rem;
  color: black;
  font-style: italic;
}

#exampleFormControlInput1 {
  border-bottom: 1px solid black;
  width: 20%;
  border-bottom-width: 1px;
}

label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3vw;
}

.heading {
  background-color: rgba(255, 255, 255, 0.39);
  padding: 10px;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 20px;
}