<<<<<<< HEAD
.panel .panel-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8vw;
    font-weight: 600;
    color: #dc656e;

}

.btn {
    background-color: #dc656e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3vw;
    color: white;
    margin: 10px;
    border: none;
}

.title {
    font-size: 30px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border-bottom: 1px solid black; */
}

.labels {
    font-size: 18px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
=======
h4{
    /* color:blue; */
    text-decoration: underline;
>>>>>>> 744ac9204c57a93704ae1980d936861051ec705d
}