<h2>Invoice Details</h2>

<hr />
<div *ngIf="invoice">
    <div>
        <label><b> Created Date: </b></label> {{invoice.date_created}}
    </div>
    <div>
        <label><b>Due Date: </b></label> {{invoice.due_date}}
    </div>
    <div>
        <label><b>User Id: </b></label> {{invoice.userid}}
    </div>
    <div>
        <label><b>Company: </b></label> {{invoice.company}}
    </div>
    <div>
        <label><b>Invoice Type: </b></label> {{invoice.type}}
    </div>

    <!-- <div>
        <label><b>First name: </b></label> {{invoice["user"].firstname}}
    </div>
    <div>
        <label><b>Last name: </b></label> {{invoice["user"].lastname}}
    </div>
    <div>
        <label><b>Email: </b></label> {{invoice["user"].email}}
    </div> -->

    <label><b>Items: </b></label>
    <tbody>
        <tr *ngFor="let item of invoice.items | keyvalue">
            <div>Item Name: {{item.value.name}} </div>
            <div>Price: {{item.value.price}}{{item.value.currency}}</div>
            <div>Description: {{item.value.description}} </div>
            <div>Quantity: {{item.value.quantity}} </div>
            <div><br></div>
        </tr>

    </tbody>


    <br>
    <br>
    <button (click)="list()" class="btn btn-primary">Back to List</button><br>