<h2>Invoice Details</h2>

<hr />
<div *ngIf="item">
    <div>
        <label><b> dateCreated: </b></label> {{item["invoice"].dateCreated}}
    </div>
    <div>
        <label><b> dueDate: </b></label> {{item["invoice"].dueDate}}
    </div>
    <div>
        <label><b>user Id: </b></label> {{item["invoice"].userID}}
    </div>
    <div>
        <label><b>Company: </b></label> {{item["invoice"].company}}
    </div>
    <div>
        <label><b>Invoice Type: </b></label> {{item["invoice"].type}}
    </div>
    <div>
        <label><b> Name: </b></label> {{item.name}}
    </div>
    <div>
        <label><b>Description: </b></label> {{item.description}}
    </div>
    <div>
        <label><b>Price: </b></label> {{item.price}}
    </div>
    <div>
        <label><b>Quantitiy: </b></label> {{item.quantity}}
    </div>
    <div>
        <label><b>Currency : </b></label> {{item.currency}}
    </div>

</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Invoice List</button><br>