<div class="container" *ngIf="user; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{user.username}}</strong> Profile
    </h3>
  </header>
  <!-- <p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p> -->
  <p>
    <strong>Email:</strong>
    {{user.email}}
  </p>

  <p>
    <strong>Email:</strong>
    {{user.email}}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of user.roles">
      {{ role }}
      <p>
        <strong>First name:</strong>
        {{user.firstname}}
      </p>
      <p>
        <strong>Address :</strong>
        {{user.address}}
      </p>
      <p>
        <strong>Phone :</strong>
        {{user.phoneNumber}}
      </p>
      <p>
        <strong>Last name:</strong>
        {{user.lastname}}
      </p>
    </li>
  </ul>
  <button (click)="updateUser(user.id)" class="btn btn-info" style="margin-left: 10px">Update my Info</button>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>