<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
            alt="" />
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{user.username}} </h5>
          <!-- <h6 *ngFor="let role of user">
            {{ role }} </h6> -->
          <p class="proile-rating">Total Invoices: <span>3</span> </p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="/profile" role="tab" aria-controls="home"
                aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Timeline</a> -->
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <button (click)="updateUser(user.id)" class="btn" style="margin-left: 10px">Edit Profile</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>work mail</p>
          <div>{{user.email}}</div><br />

        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row">
              <div class="col-md-6">
                <label>First Name</label>
              </div>
              <div class="col-md-6">
                <p>{{user.firstname}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Last Name</label>
              </div>
              <div class="col-md-6">
                <p>{{user.lastname}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Address</label>
              </div>
              <div class="col-md-6">
                <p>{{user.address}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>{{user.phoneNumber}}</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Invoice 1</label>
              </div>
              <div class="col-md-6">
                <p>20/12/2012</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> Invoice 2</label>
              </div>
              <div class="col-md-6">
                <p>12/3/2014</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Invoice 3</label>
              </div>
              <div class="col-md-6">
                <p>22/4/2021</p>
              </div>
            </div>

          </div>

        </div>
      </div>

     
      <br>
      <div> <label><b>Invoices: </b></label>
        <tbody>
          <!-- <div>hhhhhhhhs</div> -->
          <tr *ngFor="let invoice of user.invoices  | keyvalue">
            <div>Created at: {{invoice.value.date_created}} </div>
            <div>Due date: {{invoice.value.due_date}} </div>
            <div>Type: {{invoice.value.type}}</div>
            <div>Type: {{invoice.value.company}}</div>
            
            <div><br></div>
          </tr>

        </tbody>
      </div>
    </div>
  </form>
</div>